/* Estilos para el body */
body {
	background-color: #f1f1f1;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Estilos para el contenedor */
  .container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  /* Estilos para los formularios */
  .form-container {
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	margin: 0 20px;
	width: 40%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-container h2 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 24px;
  }
  
  /* Estilos para los inputs */
  .form-container input[type=text], 
  .form-container input[type=email], 
  .form-container input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }
  
  .form-container input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	margin-top: 20px;
  }
  
  .form-container input[type=submit]:hover {
	background-color: #45a049;
  }
  
  /* Estilos para los mensajes de error */
  .error-message {
	color: red;
	font-size: 14px;
	margin-top: 10px;
  }
  
  /* Estilos para el enlace de registro */
  .register-link {
	display: block;
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
	color: #0077cc;
	text-decoration: none;
  }
  